html, body {
  text-align: center;
  width: 100%;
  background-image: url('../images/purple-background.jpg');
  background-size: cover;
  color: white;
}

p {
  color: white
}

.container-fluid {
  text-align: left;
}

#container-top {
  height: 40px;
  background-color: #420059;
  opacity: .8;
}

.listo {
  display: inline-block;
}

#container-top h1 {
  display: inline-block;
  margin-top: -.5%;
  margin-left: 5%;
  width: 100%;
  color: gray;
}

.hamburger {
  display: inline-block;
  position: relative;
  width: 1%;
  margin-top: 1.55rem;
  margin-left: .5%;
  float: left;
}

.hamburger:first-child {
  margin-left: 1%;
}

.hamburger span, .hamburger span:before, .hamburger span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 15px;
  background-color: gray;
  display: block;
  position: absolute;
  content: ' ';
}

.hamburger span:before {
  top: -10px;
}

.hamburger span:after {
  bottom: -10px;
}

#container-body {
/*  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5%;*/
}

.tasks-container {
  margin: 0 10%;
  /*min-height: 50px;*/
}

.new-item-header {
  margin-top: -11%;
}

.panel {
  display: inline-block;
  width: 29.333%;
  min-height: 150px;
  margin: 2.5% 2%;
  /*background-color: #2d2d2d;*/
  background-color: rgba(255, 255, 255, .2);
  border-color: #420059;
  border-radius: 10px;

  }

  .list-group-item {
    clear: both;
  }



/*.items {
  min-height: 200px;
  flex-basis: 26%;
  border-radius: 5px;
  overflow: hidden;
  background-color: gray;
  margin: 1.25% 1.75%;
}*/

.list {
  background-color: white;
  margin: auto 5%;
  /*text-align: center;*/
}

.items ul {

}

.items li {
  /*list-style-type: none;*/
  border
}

.items-menu {
  width: 100%;
  padding: 1% 0 0 0;
  /*margin-left: 5%;*/
}

.items-menu p {
  margin-left: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.items-menu.red {
  /*padding: .1px 0;*/
  /*overflow: hidden;*/
  background-color: red;
}

.items-menu.red p {
  /*margin-left: 5%;*/
  /*background-color: red;*/
}

.items-menu.yellow {
  background-color: yellow;
}

.items-menu.green {
  background-color: green;
}

.items-menu.gray {
  background-color: lightgray;
} 

#container-body:first-child {
}
